<div class="user-activity-component">
  <h2>User activity</h2>
  <p>Active users viewing products</p>
  <div class="">
    <%= for {product_name, users} <- @user_activity do %>
      <h3><%= product_name %></h3>
      <ul>
        <%= for user <- users do %>
          <li><%= user.email %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
