<section class="row" >
  <h1>Admin dashboard</h1>
</section>
<.live_component
  id={@user_activity_component_id}
  module={ PentoP2Web.UserActivityLive }
/>
<.live_component
  id={@survey_results_component_id}
  module={ PentoP2Web.Admin.SurveyResultsLive }
/>
